body {
  background: #f7f7f7;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", YakuHanJP, "Noto Sans JP", sans-serif;
  color: #313638;
}

h1 {
  font-size: clamp(2rem, 6vw, 4rem);
}
h1 .sub-title {
  display: block;
  font-size: clamp(0.9rem, 2vw, 2.25rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

h4 {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}

p {
  font-weight: 700;
}

.title-border-left {
  position: relative;
  left: 0.7em;
}
.title-border-left::before {
  content: "";
  width: 0.2em;
  background: #313638;
  height: 90%;
  position: absolute;
  left: -0.7em;
  top: 50%;
  transform: translateY(-50%);
}

.tilt-bg {
  position: relative;
  height: 60px;
}

.tilt-bg.tilt-bg-top {
  transform: scale(-1);
}

.custom-shape-divider-top-1682382870 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: 0;
}

.custom-shape-divider-top-1682382870 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1682382870 .shape-fill {
  fill: #9bc1bc;
}

.page-id-8 #hero {
  background: url(../images/fv_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 90vh;
  position: relative;
}
.page-id-8 #hero .hero-text {
  text-align: center;
  text-shadow: 2px 2px 5px white;
  margin-top: 5rem;
}
.page-id-8 #hero .hero-image {
  position: relative;
  display: block;
  max-width: 500px;
  margin: auto;
}
.page-id-8 #hero .hero-image img {
  display: block;
}
.page-id-8 #hero .hero-image .hero-image-left,
.page-id-8 #hero .hero-image .hero-image-right {
  position: absolute;
  max-width: 250px;
}
.page-id-8 #hero .hero-image .hero-image-left {
  left: -27%;
  bottom: -5%;
  animation: ticktock 3s infinite ease-in-out;
}
.page-id-8 #hero .hero-image .hero-image-right {
  right: -27%;
  top: 5%;
  animation: ticktock 1s infinite 0.3s ease-in-out;
}
.page-id-8 .lc-rotate {
  position: relative;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  top: -100px;
  z-index: 10;
  margin-right: 0;
  margin-left: auto;
}
.page-id-8 .lc-rotate .lc-rotate-text {
  position: absolute;
  animation: spin 10s linear reverse infinite;
}
.page-id-8 .lc-rotate .lc-rotate-plus {
  position: absolute;
  max-width: 60%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ticktock {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.page-id-8 .group-slider h3 {
  text-align: center;
  margin: 4rem 0 3rem;
}
.page-id-8 .group-slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.page-id-8 .group-slider .swiper-slide p {
  text-align: center;
}