// Colors
$primary-color: #3dc9b3;
// $secondary-color: #235789;
$accent-color: #ef6461;
$alabaster-color: #e6ebe0;

$raisin-black-color: #313638;
$slate-color: #727f83;
$silver-color: #c8ced0;
$light-gray-color: #f3f4f5;

$lighten: 15;
$darken: 25;

// Color Map
$colors: (
  primary: (
    base: $primary-color,
    light: ligten($primary-color, $lighten),
    dark: darken($primary-color, $darken),
  ),
  // secondary: (
  //     base: $secondary-color,
  //     light: #fef6d7,
  //     dark: darken($secondary-color, $darken),
  // ),
  accent:
    (
      base: $accent-color,
      light: ligten($accent-color, $lighten),
      dark: darken($accent-color, $darken),
    ),
  alabaster: (
    base: $alabaster-color,
    light: ligten($alabaster-color, $lighten),
    dark: darken($alabaster-color, $darken),
  ),
  raisin-black: (
    base: $raisin-black-color,
    light: lighten($raisin-black-color, $lighten),
    dark: darken($raisin-black-color, $darken),
  ),
  slate: (
    base: $slate-color,
    light: lighten($slate-color, $lighten),
    dark: lighten($slate-color, $darken),
  ),
  silver: (
    base: $silver-color,
    light: lighten($silver-color, $lighten),
    dark: darken($silver-color, $darken),
  ),
  gray: (
    base: $light-gray-color,
    light: lighten($light-gray-color, $lighten),
    dark: darken($light-gray-color, $darken),
  ),
);
