html {
  scroll-behavior: auto;
}
body {
  background: get-color(secondary);
}
a {
  text-decoration: none;
  cursor: pointer;
}

// changed arkhe's default header position: sticky to fixed
// in response to parallax effects breaking navbar on scroll
#header {
  position: fixed;
}
.l-content {
  top: var(--ark-header_height);
}


// Arkhe's global nav
.c-gnav .__mainText {
  font-weight: 700;
}
.l-header[data-pcfix="1"] {
  // position: fixed;
}

.wpforms-submit-container {
  display: flex;
  justify-content: center;
}
.wpforms-submit {
  background-color: get-color(primary)!important;
}

.telephone {
  a {
    color: get-color(primary);
    text-decoration: underline;
    transition: all 300ms;
    &:hover {
      color: get-color(primary, dark);
    }
  }
}