body {
  background: get-color(secondary);
}
a {
  text-decoration: none;
  cursor: pointer;
}


// Arkhe's global nav
.c-gnav .__mainText {
  font-weight: 700;
}

.wpforms-submit-container {
  display: flex;
  justify-content: center;
}
.wpforms-submit {
  background-color: get-color(primary)!important;
}

.telephone {
  a {
    color: get-color(primary);
    text-decoration: underline;
  }
}