.page-id-8 {
  #hero {
    background: url(../images/fv_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 90vh;
    position: relative;

    .hero-text {
      text-align: center;
      text-shadow: 2px 2px 5px white;
      margin-top: 5rem;
    }

    .hero-image {
      position: relative;
      display: block;
      max-width: 500px;
      margin: auto;

      img {
        display: block;
      }
      .hero-image-left,
      .hero-image-right {
        position: absolute;
        max-width: 250px;
      }
      .hero-image-left {
        left: -27%;
        bottom: -5%;
        animation: ticktock 3s infinite ease-in-out;
      }
      .hero-image-right {
        right: -27%;
        top: 5%;
        animation: ticktock 1s infinite 0.3s ease-in-out;
      }
      // .hero-image-center {
      //   animation: tvflash 100ms infinite ease-in;
      // }
      // @keyframes tvflash {
      //   from {
      //     filter: invert(0);
      //   }
      //   to {
      //     filter: invert(1);
      //   }
      // }
    }
  }

  .lc-rotate {
    position: absolute;
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    right: 0;
    bottom: 100px;

    .lc-rotate-text {
      position: absolute;
      animation: spin 10s linear reverse infinite;
    }

    .lc-rotate-plus {
      position: absolute;
      max-width: 60%;
      // animation: spin 1s linear infinite;
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    @keyframes ticktock {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(2deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }

  // ABOUT US SECTION
  .group-slider {
    h3 {
      text-align: center;
      margin: 8rem 0 3rem;
    }

    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }

    .swiper-slide p {
      text-align: center;
    }
  }

  // PHILOSOPHY SECTION
  #communication .ark-block-column {
    position: relative;
  }
  .philcomm-image {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    .philcomm-image-main {
      height: 100%;
      width: 50%;
      margin-left: auto;
      
      //think we need to add the images with ::before and ::after here
      
      img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }
  }

  // Price List Section
  #price {
    overflow-x: hidden;
    padding-bottom: 4rem;
  }
}



// highlight text
// overrides the arkhe marker (.arkb-marker)
.highlight > span {
  background-image: linear-gradient(get-color(accent), get-color(accent));
  background-size: 0 40%;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 1.3s ease-in-out;
}
.highlight > span.active {
  background-size: 100% 40%;
}
