.page-id-8 {
  #hero {
    // background: url(../images/bg_fv.png);
    background: url(../images/bg_washii.webp);
    // background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 90vh; // calc(100vh - var(--ark-header_height))
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    visibility: hidden;
    padding: 2rem 0;

    #lottie {
      position: absolute;
      top: 20vh;
      transform: rotate(-13deg);
      width: 90%;
      height: auto;
    }

    .hero-text {
      width: 100%;
      text-align: center;
      text-shadow: 2px 2px 5px white;
      // margin-top: 7rem;
      // @include respond-to(tablet) {
      //   margin-top: 5rem;
      // }
    }

    .hero-image {
      position: relative;
      display: block;
      max-width: min(500px, 80%);
      margin: auto;

      img {
        display: block;
      }
      .hero-image-left,
      .hero-image-right {
        position: absolute;
        max-width: 30%;
        @include respond-to(tablet) {
          max-width: 45%;
        }
      }
      .hero-image-left {
        left: 0;
        bottom: 5%;
        animation: ticktock 3s infinite ease-in-out;
        @include respond-to(tablet) {
          left: -27%;
          bottom: -5%;
        }
      }
      .hero-image-right {
        right: 0;
        top: 5%;
        animation: ticktock 1s infinite 0.3s ease-in-out;
        @include respond-to(tablet) {
          right: -27%;
        }
      }
      // .hero-image-center {
      //   animation: tvflash 100ms infinite ease-in;
      // }
      // @keyframes tvflash {
      //   from {
      //     filter: invert(0);
      //   }
      //   to {
      //     filter: invert(1);
      //   }
      // }
    }
  }

  // ABOUT US SECTION
  #about {
    .ark-block-section__body {
      padding: 4rem 0;
      max-width: 100vw!important;
    }
    .ark-block-section__bodyInner {
      background: get-color(secondary);
      padding-left: var(--ark-padding--container,0);
      padding-right: var(--ark-padding--container,0);
    }
  }
  .group-slider {
    h3 {
      text-align: center;
      margin: 8rem 0 3rem;
    }

    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }

    .swiper-slide {
      img {
        border-radius: 20px;
      }
      p {
        text-align: center;
      }
      // img {
      //   max-height: 200px;
      //   @include respond-to(tablet) {
      //     max-height: 500px;
      //   }
      // }
    }
  }

  // PHILOSOPHY SECTION (communication | idea | happy | equals)
  :is(#communication, #idea, #happy) .ark-block-column {
    position: relative;
  }

  .philcomm-image,
  .idea-image,
  .happy-image {
    position: absolute;
    top: 0;
    margin: 0;
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
  }
  .philcomm-image {
    right: 0;
    animation: ticktock 1500ms infinite ease-in-out;
  }

  .idea-image {
    left: 0;
    animation: slide 5000ms infinite alternate-reverse linear;
  }
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(10%);
    }
  }
  .happy-image {
    width: 100%;
    height: 100%;
    justify-content: center;
    animation: pop 1900ms infinite alternate-reverse ease-in-out;
    top: -10%;
  }

  #idea {
    overflow: hidden;
    background: radial-gradient(circle, #fbfbee 0%, get-color(secondary) 100%);
    background-position: left;
    background-size: 200%;

    p:not(.arkp-gnRichClmn01__subHeading) {
      text-shadow: 2px 2px white;
    }
    // parallax, overriding the arkhe bg color
    .ark-block-section__color {
      height: 100vh;
      width: 100vw;
      background-attachment: fixed;
      background-size: 200%;
      // background-repeat: no-repeat;
      background-image: url(https://lc-plus.net/wp-content/themes/lcplus/images/bg_bubble.svg);
      background-color: initial !important;
      animation: parallaxSlide 120s infinite linear;

      @include respond-to(tablet) {
        background-size: 100%;
      }
    }
    @keyframes parallaxSlide {
      from {
        background-position: -200vw -100vh;
      }
      to {
        background-position: 200vw 100vh;
      }
    }
  }

  #equals {
    position: relative;
    padding: 6rem 0;
    @include respond-to(tablet) {
      padding: 4rem 0;
    }

    .bg_svg {
      svg {
        max-width: 100vw;
        height: 100%;
        width: 100%;
        stroke-dasharray: 6000;
        stroke-dashoffset: 6000;
      }
    }
    .content {
      position: absolute;
      inset: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      row-gap: 4vw;
      align-items: center;
      justify-content: center;
      img {
        width: min(7vw, 60px);
        padding-bottom: 4vw;
      }
      h2 {
        padding-bottom: 9vw;
      }
    }

    // highlight text
    // overrides the arkhe marker (.arkb-marker)
    .highlight > span {
      background-image: linear-gradient(get-color(accent), get-color(accent));
      background-size: 0 40%;
      background-repeat: no-repeat;
      background-position: left bottom;
      transition: background-size 1300ms ease-in-out 1000ms;
    }
    .highlight > span.active {
      background-size: 100% 40%;
    }

    // the svg person-service section
    .ark-block-section__body {
      max-width: 100vw;
    }

    // using gsap to animate svg 
    // #test {
    //   svg {
    //     max-width: 100%;
    //     stroke-dasharray: 6000;
    //     stroke-dashoffset: 6000;
    //     // animation: animateDash 5s linear forwards;
    //   }
    //   @keyframes animateDash {
    //     to {
    //       stroke-dashoffset: 0;
    //     }
    //   }
    // }




  }
  .plus-divider {
    margin: 2rem auto;
    @include respond-to(tablet) {
      margin: 10rem auto;
    }
  }

  // SERVICE SECTION
  #service {
    figure.arkp-scProductOV02__imgWrapper {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 5px get-color(slate);
    }

    .title-border-left {
      position: relative;
      text-indent: 0.7em;
      &::before {
        content: "";
        width: 0.2em;
        background: get-color(raisin-black);
        height: 90%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .ark-block-heading .ark-block-heading__sub {
      font-weight: 700;
      color: get-color(primary, dark);
    }
  }

  // CONCERNS SECTION
  #concerns {
    .concern_list_item {
      &:nth-child(1) {
        img {
          animation: ticktock 5000ms infinite 0.3s ease-in-out;
        }
      }
      &:nth-child(2) {
        img {
          animation: pop 2700ms infinite alternate-reverse ease-in-out;
        }
      }
      &:nth-child(3) {
        figure {
          padding: 1.6rem;
        }
        img {
          animation: hop 1900ms infinite alternate-reverse ease-in-out;
        }
      }
    }
    @keyframes pop {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.05);
      }
    }
    @keyframes hop {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(5px);
      }
    }

    .arkb-marker {
      background: linear-gradient(transparent var(--arkb-marker-start), get-color(primary, dark) 0);
      font-style: italic;
      font-size: clamp(1.5rem, 2.5vw, 2rem);
    }
  }

  #strength {
    // --arkb-padding: 8rem 0;

    @include respond-to(tablet) {
      padding-top: 8rem;
      padding-bottom: 8rem;

      .container {
        max-width: 80%;
        margin-inline: auto;
        margin: 0 auto;
      }
    }

    .ark-block-section__color {
      opacity: 1;
      background-attachment: fixed;
      background-size: cover;
      background-image: url(https://lc-plus.net/wp-content/themes/lcplus/images/strength.webp);
      background-color: initial !important;
      z-index: -1;
      filter: opacity(0.15);
    }

    .ark-block-section__body {
      // background: rgba(155, 193, 188, 0.75);
      border-radius: 20px;
      text-shadow: 2px 2px 2px white;
    }

    figure {
      display: none !important;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 3px get-color(slate);
    }
  }

  // PRICE LIST SECTION
  #price {
    overflow-x: hidden;
    padding-bottom: 4rem;

    .swiper-slide {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 3px get-color(slate);
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: get-color(primary);
    }
    .swiper-pagination-bullet-active {
      background: get-color(primary);
    }
  }
}

