// Hero Section
#service_hero {
  position: relative;
  z-index: 0;
  visibility: hidden;
  min-height: 75vh; //adjust this as necessary

  .bg_clip {
    width: 100%;
    height: 100%;
    background: get-color(primary);
    clip-path: polygon(0 20%, 100% 37%, 100% 77%, 0 92%);
    position: absolute;
    z-index: -1;
  }
  // acf true/false to flip background image horizontally
  .bg_clip.flipped {
    clip-path: polygon(0 37%, 100% 20%, 100% 92%, 0 77%);
  }

  .l-container {
    margin-bottom: 2rem;
  }

  .service_title {
    $size_sm: 3rem;
    $size_lg: 6rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    h1 {
      color: get-color(raisin-black);
      font-size: 3rem;
      // display: flex;
      // align-items: center;
      // padding-left: 80px;
      // text-indent: calc(10px + $size_sm);
      // max-width: 1200px;
      // margin-inline: auto;
      // margin-bottom: 2rem;
      @include respond-to(desktop) {
        font-size: 8rem;
        // text-indent: calc(10px + $size_lg);
      }
    }
    .service_title_plus {
      // content: "";
      // position: absolute;
      // background: url("../images/plus_mido.png");
      // background-size: contain;
      // background-repeat: no-repeat;
      width: $size_sm;
      height: $size_sm;
      // animation: spin 500ms ease-in-out infinite reverse;
      @include respond-to(desktop) {
        width: $size_lg;
        height: $size_lg;
      }
    }
  }

  .service_hero_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: auto;
    row-gap: 2rem;

    @include respond-to(tablet) {
      flex-direction: row;
      max-width: 1200px;
    }

    h2 {
      margin-bottom: 1em;
    }

    .service_hero_text {
      @include respond-to(tablet) {
        order: 1;
      }
    }

    .service_hero_image {
      animation: pop 2300ms ease-in-out infinite alternate-reverse;
      max-width: 80%;
      @include respond-to(tablet) {
        order: 2;
        width: min(450px, 30vw);
        position: relative;
        top: -3em;
      }
      img {
        max-height: 300px;
        @include respond-to(tablet) {
          max-height: 500px;
        }
      }
    }
  }
}
// Price Section
#works {
  #works_h2 {
    scroll-margin-top: 8rem; // this might need a bit more adjusting. maybe fix plus_divider instead
  }
  .ark-block-column {
    figure {
      box-shadow: 0 0 2px get-color(slate);
    }
    .arkp-gnRichClmn05__itemTtl {
      color: get-color(primary, dark);
    }
  }
  .comment {
    border: 1px solid get-color(raisin-black);
  }
}

// Flow section
#flow {
  padding-bottom: 2rem;
  // overrides the default arkhe step block!!!
  .ark-block-step.is-style-default {
    .ark-block-step__item {
      display: flex;
      flex-direction: column;
      font-size: clamp(1rem, 1.5vw, 1.2rem);
      font-weight: 700;
      padding: 1.5em 1em; 
      background: get-color(primary);
      border-radius: 5px;
      margin: 0 2em 3em;

      @include respond-to(tablet) {
        align-items: center;
      }

      &:not(:last-child)::before {
        // vertical dotted border line on the left
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border: solid 1em transparent;
        border-top-color: get-color(primary);
      }

      // the step number
      .ark-block-step__number {
        color: get-color(primary);
        background: get-color(secondary);

        .__label {
          // color: get-color(accent);
        }
      }

      // the paragraph, (ie. the comment if any)
      .ark-block-step__body {
        margin-top: 0;
        font-size: 90%;
        font-style: italic;

        p {
          font-weight: initial;
        }
      }
    }
  }
}

// Other stuff
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.scrololol {
  position: relative;
  width: 50px;
  height: 50px;
  left: -50px;
}
.scrotate2 {
  position: absolute;
  right: -20vw;

  img {
    width: 90px;
    height: 90px;
  }
}
#spinner {
  margin-inline: auto;
  width: max(50px, 7vw);
}
