.flow-chart {
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 700;
    padding: 1.5em 0;
    background: get-color(primary);
    border-radius: 5px;
    margin: 0 2em 3em;
    position: relative;
    // animation: rainbow 100ms linear infinite alternate-reverse;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      // z-index: 1;
      border: solid 1em transparent;
      border-top-color: get-color(primary);
      // animation: rainbow-border 100ms linear infinite alternate-reverse;
    }
  }
}